@import '@/styles/base/_variables';

.disableBtn {
  padding: 10px 1rem;
  background-color: #ccc;
  outline: none;
  border: solid 1px #ccc;
  color: white;

  &:hover {
    background-color: #ccc;
    outline: none;
    border: solid 1px #ccc;
    color: white;
  }
}

.btn1 {
  outline: none;
  border: solid 1px;
  border-radius: 4px;
  padding: 10px 1rem;
  background-color: $themeOne;
  border-color: $themeOne;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: $themeFour;
    border-color: $themeFour;
  }
}
