@import '@/styles/base/_variables';

.icon {
  position: absolute;
  top: 12px;
  left: 6px;
}

.lineThrough {
  position: absolute;
  top: 35px;
  left: 12px;
  height: 18px;
  background-color: black;
  width: 2px;
  transform: rotate(45deg);
}
