.br {
  &LightGray {
    border-color: $borderLightGray;

    &OnHover:hover {
      border-color: $borderLightGray;
    }
  }

  &Success2 {
    border-color: $borderSuccess2;

    &OnHover:hover {
      border-color: $borderSuccess2;
    }
  }

  &Warning {
    border-color: $borderWarning;

    &OnHover:hover {
      border-color: $borderWarning;
    }
  }

  &Gray {
    border-color: $borderGray;

    &OnHover:hover {
      border-color: $borderGray;
    }
  }

  &OffBlack {
    border-color: $borderOffBlack;

    &OnHover:hover {
      border-color: $borderOffBlack;
    }
  }

  &Brand {
    border-color: $borderBrand;

    &OnHover:hover {
      border-color: $borderBrand;
    }
  }

  &SecondaryBrand {
    border-color: $borderSecondaryBrand;

    &OnHover:hover {
      border-color: $borderSecondaryBrand;
    }
  }

  &Radius {
    &Minimal {
      border-radius: $radiusMinimal;
    }

    &Rounded {
      border-radius: $radiusRounded;
    }

    &Full {
      border-radius: $radiusFull;
    }
  }
}
