.m {
  &L {
    &None {
      margin-left: 0;
    }

    &XS {
      margin-left: $spacingXs;
    }

    &Sm {
      margin-left: $spacingSm;
    }

    &Md {
      margin-left: $spacingMd;
    }

    &Lr {
      margin-left: $spacingLr;
    }

    &XL {
      margin-left: $spacingXL;
    }

    &XXL {
      margin-left: $spacing2XL;
    }
  }

  &R {
    &None {
      margin-right: 0;
    }

    &XS {
      margin-right: $spacingXs;
    }

    &Sm {
      margin-right: $spacingSm;
    }

    &Md {
      margin-right: $spacingMd;
    }

    &Lr {
      margin-right: $spacingLr;
    }

    &XL {
      margin-right: $spacingXL;
    }

    &XXL {
      margin-right: $spacing2XL;
    }
  }

  &B {
    &None {
      margin-bottom: 0;
    }

    &XS {
      margin-bottom: $spacingXs;
    }

    &Sm {
      margin-bottom: $spacingSm;
    }

    &Md {
      margin-bottom: $spacingMd;
    }

    &Lr {
      margin-bottom: $spacingLr;
    }

    &XL {
      margin-bottom: $spacingXL;
    }

    &XXL {
      margin-bottom: $spacing2XL;
    }
  }

  &T {
    &None {
      margin-top: 0;
    }

    &XS {
      margin-top: $spacingXs;
    }

    &Sm {
      margin-top: $spacingSm;
    }

    &Md {
      margin-top: $spacingMd;
    }

    &Lr {
      margin-top: $spacingLr;
    }

    &XL {
      margin-top: $spacingXL;
    }

    &XXL {
      margin-top: $spacing2XL;
    }
  }

  &X {
    &None {
      margin-left: 0;
      margin-right: 0;
    }

    &XS {
      margin-left: $spacingXs;
      margin-right: $spacingXs;
    }

    &Sm {
      margin-left: $spacingSm;
      margin-right: $spacingSm;
    }

    &Md {
      margin-left: $spacingMd;
      margin-right: $spacingMd;
    }

    &Lr {
      margin-left: $spacingLr;
      margin-right: $spacingLr;
    }

    &XL {
      margin-left: $spacingXL;
      margin-right: $spacingXL;
    }

    &XXL {
      margin-left: $spacing2XL;
      margin-right: $spacing2XL;
    }
  }

  &Y {
    &None {
      margin-top: 0;
      margin-bottom: 0;
    }

    &XS {
      margin-top: $spacingXs;
      margin-bottom: $spacingXs;
    }

    &Sm {
      margin-top: $spacingSm;
      margin-bottom: $spacingSm;
    }

    &Md {
      margin-top: $spacingMd;
      margin-bottom: $spacingMd;
    }

    &Lr {
      margin-top: $spacingLr;
      margin-bottom: $spacingLr;
    }

    &XL {
      margin-top: $spacingXL;
      margin-bottom: $spacingXL;
    }

    &XXL {
      margin-top: $spacing2XL;
      margin-bottom: $spacing2XL;
    }
  }

  &None {
    margin: 0;
  }

  &All {
    &XS {
      margin: $spacingXs;
    }

    &Sm {
      margin: $spacingSm;
    }

    &Md {
      margin: $spacingMd;
    }

    &Lr {
      margin: $spacingLr;
    }

    &XL {
      margin: $spacingXL;
    }

    &XXL {
      margin: $spacing2XL;
    }
  }
}

// -----------------------------------
// -----------------------------------
// -----------------------------------
// -----------------------------------

.p {
  &L {
    &None {
      padding-left: 0;
    }

    &XS {
      padding-left: $spacingXs;
    }

    &Sm {
      padding-left: $spacingSm;
    }

    &Md {
      padding-left: $spacingMd;
    }

    &Lr {
      padding-left: $spacingLr;
    }

    &XL {
      padding-left: $spacingXL;
    }

    &XXL {
      padding-left: $spacing2XL;
    }
  }

  &R {
    &None {
      padding-right: 0;
    }

    &XS {
      padding-right: $spacingXs;
    }

    &Sm {
      padding-right: $spacingSm;
    }

    &Md {
      padding-right: $spacingMd;
    }

    &Lr {
      padding-right: $spacingLr;
    }

    &XL {
      padding-right: $spacingXL;
    }

    &XXL {
      padding-right: $spacing2XL;
    }
  }

  &B {
    &None {
      padding-bottom: 0;
    }

    &XS {
      padding-bottom: $spacingXs;
    }

    &Sm {
      padding-bottom: $spacingSm;
    }

    &Md {
      padding-bottom: $spacingMd;
    }

    &Lr {
      padding-bottom: $spacingLr;
    }

    &XL {
      padding-bottom: $spacingXL;
    }

    &XXL {
      padding-bottom: $spacing2XL;
    }
  }

  &T {
    &None {
      padding-top: 0;
    }

    &XS {
      padding-top: $spacingXs;
    }

    &Sm {
      padding-top: $spacingSm;
    }

    &Md {
      padding-top: $spacingMd;
    }

    &Lr {
      padding-top: $spacingLr;
    }

    &XL {
      padding-top: $spacingXL;
    }

    &XXL {
      padding-top: $spacing2XL;
    }
  }

  &X {
    &None {
      padding-left: 0;
      padding-right: 0;
    }

    &XS {
      padding-left: $spacingXs;
      padding-right: $spacingXs;
    }

    &Sm {
      padding-left: $spacingSm;
      padding-right: $spacingSm;
    }

    &Md {
      padding-left: $spacingMd;
      padding-right: $spacingMd;
    }

    &Lr {
      padding-left: $spacingLr;
      padding-right: $spacingLr;
    }

    &XL {
      padding-left: $spacingXL;
      padding-right: $spacingXL;
    }

    &XXL {
      padding-left: $spacing2XL;
      padding-right: $spacing2XL;
    }
  }

  &Y {
    &None {
      padding-top: 0;
      padding-bottom: 0;
    }

    &XS {
      padding-top: $spacingXs;
      padding-bottom: $spacingXs;
    }

    &Sm {
      padding-top: $spacingSm;
      padding-bottom: $spacingSm;
    }

    &Md {
      padding-top: $spacingMd;
      padding-bottom: $spacingMd;
    }

    &Lr {
      padding-top: $spacingLr;
      padding-bottom: $spacingLr;
    }

    &XL {
      padding-top: $spacingXL;
      padding-bottom: $spacingXL;
    }

    &XXL {
      padding-top: $spacing2XL;
      padding-bottom: $spacing2XL;
    }
  }

  &None {
    padding: 0;
  }

  &All {
    &XS {
      padding: $spacingXs;
    }

    &Sm {
      padding: $spacingSm;
    }

    &Md {
      padding: $spacingMd;
    }

    &Lr {
      padding: $spacingLr;
    }

    &XL {
      padding: $spacingXL;
    }

    &XXL {
      padding: $spacing2XL;
    }
  }
}

@each $space in $spaceamounts {
  .mAll#{$space} {
    margin: $space * 4px;
  }

  .mT#{$space} {
    margin-top: $space * 4px;
  }

  .mB#{$space} {
    margin-bottom: $space * 4px;
  }

  .mR#{$space} {
    margin-right: $space * 4px;
  }

  .mL#{$space} {
    margin-left: $space * 4px;
  }

  .mY#{$space} {
    margin-top: $space * 4px;
    margin-bottom: $space * 4px;
  }

  .mX#{$space} {
    margin-left: $space * 4px;
    margin-right: $space * 4px;
  }

  //

  .pAll#{$space} {
    padding: $space * 4px;
  }

  .pT#{$space} {
    padding-top: $space * 4px;
  }

  .pB#{$space} {
    padding-bottom: $space * 4px;
  }

  .pR#{$space} {
    padding-right: $space * 4px;
  }

  .pL#{$space} {
    padding-left: $space * 4px;
  }

  .pY#{$space} {
    padding-top: $space * 4px;
    padding-bottom: $space * 4px;
  }

  .pX#{$space} {
    padding-left: $space * 4px;
    padding-right: $space * 4px;
  }
}
