.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.transition {
  &1 {
    transition: all 0.3s ease-in-out;
  }
}
