@import '@/styles/base/_variables';
@import '@/styles/base/mixins';

.container {
  top: 60px;
  right: -100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  &IsActive {
    opacity: 1;
    right: 0;
  }
}
