@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

$HEADER_BG_COLOR: green;
$SUBNAV_BG_COLOR: brown;
$MENU_BORDER_BTM_ON_HOVER_COLOR: purple;
$SUB_MENU_BORDER_BTM_ON_HOVER_COLOR: yellow;
$MENU_ITEM_COLOR: black;
$SUB_MENU_ITEM_COLOR: red;
$MOB_MENU_ITEM_COLOR: blue;
$MOB_MENU_SUB_NAV_COLOR: pink;
$MOB_NAV_CONTAINER_COLOR: green;

$HEADER_LOGO_WIDTH: 120px;
$MOB_HEADER_LOGO_WIDTH: 80px;

$HEADER_CONTAINER_PADDING: 0 150px 0 1rem;
$SUBNAV_CONTAINER_PADDING: 1rem;
$SUBNAV_ITEM_MARGIN_BTM: 1rem;
$NAV_ITEM_IN_MOBILE_MARGIN_BTM: 0;
$MOB_NAV_CONTAINER_PADDING: 1rem;
$MOB_SUB_NAV_PADDING_LEFT: 2rem;

$BORDER_BTM_SPACE: 6px;

$BORDER_BTM_THICKNESS: 2px;

// ------------------------------------------------------
// ------------------------------------------------------
// ------------------------------------------------------
// ------------------------------------------------------

.headerContainer {
  height: map-get($heights, 'header');
  background-color: $HEADER_BG_COLOR;
  padding: $HEADER_CONTAINER_PADDING;
}

.desktopHeader {
  &LogoContainer {
    width: $HEADER_LOGO_WIDTH;
  }
}

.desktopNav {
  &Item {
    height: map-get($heights, 'header');

    &Title {
      padding: $BORDER_BTM_SPACE 0;
      background: linear-gradient($MENU_BORDER_BTM_ON_HOVER_COLOR 0 0) center bottom / 100%
        $BORDER_BTM_THICKNESS no-repeat;
      background-size: 0% $BORDER_BTM_THICKNESS;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-size: 100% $BORDER_BTM_THICKNESS;
      }
    }

    &SubNav {
      &Container {
        top: calc(map-get($heights, 'header'));
        left: 0;
        width: 300px;
        cursor: auto;

        &Menu {
          background-color: $SUBNAV_BG_COLOR;
          padding: $SUBNAV_CONTAINER_PADDING;
        }
      }

      &Item {
        &Title {
          padding: $BORDER_BTM_SPACE 0;
          background: linear-gradient($SUB_MENU_BORDER_BTM_ON_HOVER_COLOR 0 0) center bottom / 100%
            $BORDER_BTM_THICKNESS no-repeat;
          background-size: 0% $BORDER_BTM_THICKNESS;
          transition: all 0.3s ease-in-out;
          color: $MENU_ITEM_COLOR;
          margin-bottom: $SUBNAV_ITEM_MARGIN_BTM;

          &:hover {
            background-size: 100% $BORDER_BTM_THICKNESS;
          }
        }
      }
    }
  }
}

.mobileHeader {
  &LogoContainer {
    width: $MOB_HEADER_LOGO_WIDTH;
  }
}

.mobNav {
  &Container {
    padding: $MOB_NAV_CONTAINER_PADDING;
    background-color: $MOB_NAV_CONTAINER_COLOR;
    overflow: hidden;
    position: fixed;
    top: calc(map-get($heights, 'header') + 2px);
    left: 0.5rem;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-150%);

    &IsActive {
      transform: translateX(0);
    }
  }
  &Item {
    &SubNavContainer {
      padding-left: $MOB_SUB_NAV_PADDING_LEFT;
    }

    &Title {
      padding: $BORDER_BTM_SPACE 0;
      background: linear-gradient($MENU_BORDER_BTM_ON_HOVER_COLOR 0 0) center bottom / 100%
        $BORDER_BTM_THICKNESS no-repeat;
      background-size: 0% $BORDER_BTM_THICKNESS;
      transition: all 0.3s ease-in-out;
      color: $MOB_MENU_ITEM_COLOR;
      margin-bottom: $NAV_ITEM_IN_MOBILE_MARGIN_BTM;

      &:hover {
        background-size: 100% $BORDER_BTM_THICKNESS;
      }
    }

    &SubNav {
      &Item {
        &Title {
          padding: $BORDER_BTM_SPACE 0;
          background: linear-gradient($SUB_MENU_BORDER_BTM_ON_HOVER_COLOR 0 0) center bottom / 100%
            $BORDER_BTM_THICKNESS no-repeat;
          background-size: 0% $BORDER_BTM_THICKNESS;
          transition: all 0.3s ease-in-out;
          color: $MOB_MENU_SUB_NAV_COLOR;
          margin-bottom: $NAV_ITEM_IN_MOBILE_MARGIN_BTM;

          &:hover {
            background-size: 100% $BORDER_BTM_THICKNESS;
          }
        }
      }
    }
  }

  &SubNav {
    &Container {
      &IsActive {
        display: flex !important;
      }
    }
  }
}
