%fontclass {
  font-family: 'Manrope', sans-serif;
  color: black;
  font-size: map-get($fontSizes, 'regular-xs');

  @include atSmall {
    font-size: map-get($fontSizes, 'regular-sm');
  }

  @include atMedium {
    font-size: map-get($fontSizes, 'regular-md');
  }

  @include atLarge {
    font-size: map-get($fontSizes, 'regular-lg');
  }
}

html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  @extend %fontclass;

  background-color: white;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

textarea,
button {
  @extend %fontclass;
}

// -------------------------------------------

.global- {
  &main-container {
    width: 100%;
    // max-width: $maxContainerWidth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    background-color: white;
  }

  &container {
    width: 100%;
    max-width: $maxContainerWidth;
    margin-left: auto;
    margin-right: auto;
  }

  &container-for-app {
    width: 100%;
    max-width: $maxContainerWidthForApp;
    margin-left: auto;
    margin-right: auto;
  }

  &captcha {
    font-family: 'Rubik Maze', cursive;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
  }

  &rotate- {
    &90 {
      transform: rotate(90deg);
    }

    &180 {
      transform: rotate(180deg);
    }

    &270 {
      transform: rotate(270deg);
    }
  }

  &go-under {
    z-index: -1;
  }

  &centralized-in-sm-design {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include atMedium {
      text-align: left;
      justify-content: start;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &outline-none {
    outline: none;
  }

  &display-none {
    outline: none;
  }

  &error-message {
    display: none;
    position: absolute;
    top: 100%;
    left: 8px;
    font-size: 10px;
    color: red;

    &-is-active {
      display: block;
    }
  }

  &font- {
    &regular {
      font-family: 'Manrope', sans-serif;
    }

    &title {
      font-family: 'Poppins', sans-serif;
    }
  }

  &bg- {
    &grad-one {
      background-image: linear-gradient(
        to right,
        #{map-get($colors, 'theme-one')},
        #{map-get($colors, 'theme-two')}
      );
    }
  }
}
