// Functions

@function capitalize($string) {
  @if type-of($string) != 'string' {
    @return $string;
  }
  $first-letter: str-slice($string, 1, 1);
  $rest: str-slice($string, 2);
  @return to-upper-case($first-letter) + $rest;
}

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Colors
$colors: (
  'primary': black,
  'secondary': white,
  'warning-one': #fcf2f2,
  'warning-two': #e56964,
  'success-one': #effcf5,
  'success-two': #74c59f,
  'theme-one': #16c5fe,
  'theme-two': #0392dd,
  'theme-three': #e2ecf6,
  'gray-bright': #f1f1f1,
  'gray-dark': #6a6a6a,
  'off-black': #28282b,
  'off-white': #faf9f6
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Spacings
$spacings: (
  'temp-1': 4px,
  'temp-2': 8px,
  'temp-3': 12px,
  'temp-4': 16px,
  'temp-5': 20px,
  'temp-6': 24px,
  'temp-7': 28px,
  'temp-8': 32px,
  'temp-9': 36px,
  'temp-10': 40px,
  'temp-11': 44px,
  'temp-12': 48px,
  'temp-13': 52px,
  'temp-14': 56px,
  'temp-15': 60px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Border Radius
$borderRads: (
  'sm': 4px,
  'md': 8px,
  'lg': 12px,
  'xl': 16px,
  '2xl': 20px,
  '3xl': 24px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Heights
$heights: (
  'header': 60px,
  'app-header': 60px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Widths
$widths: (
  'side-bar-closed': 60px,
  'side-bar-opened': 180px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Types
$fontTypes: (
  'regular': 'Poppins',
  'title': 'Poppins'
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Sizes
$fontSizes: (
  'small-xs': 8px,
  'small-sm': 8px,
  'small-md': 10px,
  'small-lg': 10px,
  'regular-xs': 12px,
  'regular-sm': 12px,
  'regular-md': 14px,
  'regular-lg': 14px,
  'large-xs': 14px,
  'large-sm': 14px,
  'large-md': 16px,
  'large-lg': 16px
);

$fontCategories: (
  'small': 'small',
  'regular': 'regular',
  'large': 'large'
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Headings
$fontHeadingWeight: semibold;
$headingFontSizes: (
  'h1-xs': 38px,
  'h1-sm': 38px,
  'h1-md': 48px,
  'h1-lg': 52px,
  'h2-xs': 32px,
  'h2-sm': 32px,
  'h2-md': 40px,
  'h2-lg': 42px,
  'h3-xs': 26px,
  'h3-sm': 26px,
  'h3-md': 32px,
  'h3-lg': 34px,
  'h4-xs': 22px,
  'h4-sm': 22px,
  'h4-md': 26px,
  'h4-lg': 28px,
  'h5-xs': 18px,
  'h5-sm': 18px,
  'h5-md': 20px,
  'h5-lg': 22px,
  'h6-xs': 16px,
  'h6-sm': 16px,
  'h6-md': 18px,
  'h6-lg': 18px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Transitions
$transitions: (
  'type-one': all 0.3s ease-in-out
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Device Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 1500px;
$maxContainerWidthForApp: 2000px;

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
