// Text Colours
$textPrimary: #28282b;
$textSecondary: #faf9f6;
$textTertiary: #6a6a6a;
$textBrand: #16c5fe;
$textSecondaryBrand: #0392dd;

// Bg Colours
$bgTertiary: #f1f1f1;
$bgSuccess2: #effcf5;
$bgWarning: #fcfcf2;
$bgPrimary: #ffffff;
$bgSecondary: #e2ecf6;
$bgBrand: #16c5fe;
$bgBrandSecondary: #0392dd;

// Border Colours
$borderLightGray: #f1f1f1;
$borderSuccess2: #74c59f;
$borderWarning: #e56964;
$borderGray: #6a6a6a;
$borderOffBlack: #28282b;
$borderBrand: #16c5fe;
$borderSecondaryBrand: #0392dd;

// Spacings:
$spacingNone: 0;
$spacingXs: 4px;
$spacingSm: 8px;
$spacingMd: 16px;
$spacingLr: 20px;
$spacingXL: 28px;
$spacing2XL: 56px;

// Border Radius:
$radiusMinimal: 4px;
$radiusRounded: 8px;
$radiusFull: 24px;

// fontSizes:
$xxxLarge: 52px;
$xxLarge: 42px;
$xLarge: 34px;
$large: 28px;
$medium: 22px;
$base: 18px;
$regular: 16px;
$small: 14px;
$xxsmall: 10px;

// Fonts
$fontFamilyTitle: 'Poppins', sans-serif;
$fontFamilyRegular: 'Manrope', sans-serif;

// Device Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 1500px;

// Heights
$HeaderHeight: 60px;

// Header
$sideBarClosedWidth: 60px;
$sideBarOpenedWidth: 180px;
