// Functions

@function capitalize($string) {
  @if type-of($string) != 'string' {
    @return $string;
  }
  $first-letter: str-slice($string, 1, 1);
  $rest: str-slice($string, 2);
  @return to-upper-case($first-letter) + $rest;
}

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Colors
$colors: (
  'primary': black,
  'secondary': white,
  'warning-one': #fcf2f2,
  'warning-two': #e56964,
  'success-one': #effcf5,
  'success-two': #74c59f,
  'theme-one': #16c5fe,
  'theme-two': #0392dd,
  'theme-three': #e2ecf6,
  'gray-bright': #f1f1f1,
  'gray-dark': #6a6a6a,
  'off-black': #28282b
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Box Shadows
$boxShadows: (
  'type-one': (
    'rgba(50, 50, 93, 0.25) 0px 2px 5px -1px',
    'rgba(0, 0, 0, 0.3) 0px 1px 3px -1px'
  ),
  'type-two': 'rgba(0, 0, 0, 0.2) 0px 60px 40px -7px'
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Types
$fontTypes: (
  'regular': 'Poppins',
  'title': 'Poppins'
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Sizes
$fontSizes: (
  'small-xs': 12px,
  'small-sm': 14px,
  'small-md': 16px,
  'small-lg': 18px,
  'regular-xs': 14px,
  'regular-sm': 16px,
  'regular-md': 18px,
  'regular-lg': 20px,
  'large-xs': 16px,
  'large-sm': 18px,
  'large-md': 20px,
  'large-lg': 22px
);

$fontCategories: (
  'small': 'small',
  'regular': 'regular',
  'large': 'large'
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Headings
$fontHeadingWeight: bold;
$headingFontSizes: (
  'h1-xs': 24px,
  'h1-sm': 28px,
  'h1-md': 32px,
  'h1-lg': 36px,
  'h2-xs': 22px,
  'h2-sm': 26px,
  'h2-md': 30px,
  'h2-lg': 34px,
  'h3-xs': 20px,
  'h3-sm': 24px,
  'h3-md': 28px,
  'h3-lg': 32px,
  'h4-xs': 18px,
  'h4-sm': 22px,
  'h4-md': 26px,
  'h4-lg': 30px,
  'h5-xs': 16px,
  'h5-sm': 20px,
  'h5-md': 24px,
  'h5-lg': 28px,
  'h6-xs': 14px,
  'h6-sm': 18px,
  'h6-md': 22px,
  'h6-lg': 26px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Device Sizes
$atSmall: 400px;
$atMedium: 1100px;
$atLarge: 1400px;
$maxContainerWidth: 1500px;
$maxContainerWidthForApp: 2000px;

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Transitions
$transitions: (
  'type-one': all 0.3s ease-in-out
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Heights
$heights: (
  'header': 60px,
  'app-header': 60px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Widths
$widths: (
  'side-bar-closed': 60px,
  'side-bar-opened': 180px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Spacings
$spacings: (
  'normal': 20px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Border Radius
$borderRads: (
  'normal': 10px
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
